.chat-view-body {
  overflow-y: scroll;
  background-image: url(https://i.imgur.com/8WOXpqm.png); 

  &--hidden {
    display: none;
  }

  &__chat {
    display: none;

    &--selected {
      display: block;
    }
  }

  &__pinned-msg-row {
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px $shadowFg solid;
    padding: 8px 10px;
    background: white;
  }

  &__pinned-msg {
    padding-left: 10px;
    border-left: 2px blue solid;
  }

  &__pinned-msg-title {
    margin-bottom: 3px;
    font-weight: 600;
    color: #0083d1;
  }

  &__group-userpic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-self: flex-end;
    margin-left: 13px;
    margin-right: -10px;
    background-color: #0083d1;
    background-size: contain;
    background-position: center center;

    &--pic1 {
      background-image: url(https://i.imgur.com/4AiXzf8.jpg);
    }

    &--pic2 {
      background-image: url(https://i.imgur.com/gtWsPu9.jpg);
    }

    &--pic3 {
      background-image: url(https://i.imgur.com/sFq0wAC.jpg);
    }
  }

  &__msg-row {
    display: flex;
    margin-bottom: 5px;
    position: relative;

    &--in {
      justify-content: flex-start;
    }

    &--out {
      justify-content: flex-end;
    }

    &--date {
      justify-content: center;
    }
  }

  &__date {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    background: #b3b3b3;
    color: #fff;
  }

  &__msg {
    max-width: 70%;
    min-width: 80px;
  }

  &__sticker {
    max-width: 40%;
  }

  &__img-msg {
    max-width: 100%;
  }

}