@import "normalize";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
}


$siteBg: #fd739c;

header {
  background-color: $siteBg;
  position: relative;
  z-index: 2;

  .app-title {
    padding: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #ffffff;
  }

  .app-version {
    background: #ffffff;
    color: $siteBg;
    font-size: 0.4em;
    padding: 1px 7px;
    border-radius: 10px;
    margin-left: -6px;
  }
}

.app-section {
  display: flex;
  justify-content: center;
  padding-bottom: 80px; 
  background-color: $siteBg;
}

.app-section, .selection-box__item-area {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}


@import "color-palette";
@import "desktop-app-container";
@import "system-title-bar";
@import "telegram-interface";
@import "main-menu";
@import "chat-list";
@import "chat-list-item";
@import "chat-view";
@import "chat-view-header";
@import "chat-view-body";
@import "chat-msg";
@import "sticker-msg";
@import "chat-view-footer";
@import "selectors-section";