@import "normalize";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

$siteBg: #fd739c;

header {
  background-color: $siteBg;
  position: relative;
  z-index: 2;

  .app-title {
    padding: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
  }

  .app-version {
    background: #ffffff;
    color: $siteBg;
    font-size: 0.5em;
    padding: 0 5px;
    border-radius: 10px;
    margin-left: -6px;
  }
}

.app-section {
  display: flex;
  justify-content: center;
  font-size: 13px;
  padding-bottom: 80px; 
  background-color: $siteBg;
}




.selection-box {
  margin: 10px auto;
  display: flex;
  justify-content: center;

  &__part {
    background-color: #f2f2f2;
    margin: 10px;
    display: flex;
    flex-direction: column;

    width: 40%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  &__color-picker-wrapper {
    margin-top: 12px;
  }

  &__part-name {
    margin-right: auto;
    margin-left: auto;
    font-weight: 600;
  }

  &__selector-box {
    margin: 0 auto 10px auto;
  }


  &__item-area {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  &__pickers-area {
    display: flex;
    margin-top: 15px;
  }

  &__column {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
  }
}





@import "color-palette";
@import "desktop-app-container";
@import "system-title-bar";
@import "telegram-interface";
@import "main-menu";
@import "chat-list";
@import "chat-list-item";
@import "chat-view";
@import "chat-view-header";
@import "chat-view-body";
@import "chat-msg";
@import "sticker-msg";
@import "chat-view-footer";